.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #141e95 !important;
    border-color: #141e95 !important;
}

.text-primary {
    color: #141e95 !important;
}

.navbar-primary {
    background-color: #141e95 !important;
    color: #141e95 !important;
}

.navbar-color {
  color: #141e95 !important;
}
